<% provide(:title, 'Sign up') %>
<h1>住所登録</h1>


<%= form_with url: "./base/create" do |form|%>
      <%= form.label '郵便番号' %>
      <%= form.text_field :post_code, placeholder: '000-0000' %><br>
      <%= form.label '都道府県' %>
    <%= form.text_field :pref, placeholder: '◯◯県' %><br>
    <%= form.label '市区町村' %>
      <%= form.text_field :city, placeholder: '□□市△△区' %><br>
    <%= form.label '町域番地' %>
      <%= form.text_field :area, placeholder: '✕✕町x-x-x' %><br>
  <%= form.submit value: '登録' %><br>
<% end %>
