<% # お気に入りボタンを表示%>
<% star_color = star_color_favo(@memo.favorite) %>

<%= form_with id: 'favo_0', url: "./update" do |form|%>
  <%= form.hidden_field :favo, value: '0' %>
  <%= form.hidden_field :place_id, value: @memo.place_id %>
  <%= form.hidden_field :user_id, value: @memo.user_id %>

<% end %>

<%= form_with id: 'favo_1', url: "./update" do |form|%>
  <%= form.hidden_field :favo, value: '1' %>
  <%= form.hidden_field :place_id, value: @memo.place_id %>
  <%= form.hidden_field :user_id, value: @memo.user_id %>

<% end %>

<%= form_with id: 'favo_2', url: "./update" do |form|%>
  <%= form.hidden_field :favo, value: '2' %>
  <%= form.hidden_field :place_id, value: @memo.place_id %>
  <%= form.hidden_field :user_id, value: @memo.user_id %>

<% end %>

<%= form_with id: 'favo_3', url: "./update" do |form|%>
  <%= form.hidden_field :favo, value: '3' %>
  <%= form.hidden_field :place_id, value: @memo.place_id %>
  <%= form.hidden_field :user_id, value: @memo.user_id %>

<% end %>

<a href="javascript:favo_0.submit()">
  <svg width="40" height="40">
    <polygon points="20,2 8,39 38,16 2,16 32,39" style="<%= star_color[0]%>" />
  </svg>
</a>

<a href="javascript:favo_1.submit()">
  <svg width="40" height="40">
    <polygon points="20,2 8,39 38,16 2,16 32,39" style="<%= star_color[1]%>" />
  </svg>
</a>

<a href="javascript:favo_2.submit()">
  <svg width="40" height="40">
    <polygon points="20,2 8,39 38,16 2,16 32,39" style="<%= star_color[2]%>" />
  </svg>
</a>

<a href="javascript:favo_3.submit()">
  <svg width="40" height="40">
    <polygon points="20,2 8,39 38,16 2,16 32,39" style="<%= star_color[3]%>" />
  </svg>
</a>