<div class="card bg-light mb-3" style="max-width: 100%;">
  <div class="card-header" style="font-size:x-large;"><%= @shop.shop_name %></div>
  <div class="card-body">
    <h5 class="card-title">
      <a href="https://www.google.com/maps/dir/?api=1&origin=<%=@base.lat%>,<%=@base.lng%>&destination=<%=@shop.shop_name%>&destination_place_id=<%=@memo.place_id%>&travelmode=walking"><%= @shop.shop_address %></a>
      <%= render 'favo_star' %>
    </h5>
    <p class="card-text">訪問数：<%= @memo.count %></p>
    <%= form_with url: "./update" do |form|%>
      <%= form.submit value: '訪問しました' %><br>
      <%= form.hidden_field :count, value: 'count' %>
      <%= form.hidden_field :place_id, value: @memo.place_id %>
      <%= form.hidden_field :user_id, value: @memo.user_id %>
    <% end %><br>
    <div id="view_memo" style="display:inline;">
      <h2>メモ  <input type="button" onclick="toggle_memo_btn()" value="編集" style= "margin: 20px;" class="btn btn-outline-primary"></h2>
      <%= memo_empty(@memo.memo) %>
    </div>
    <div id="edit_memo" style="display:none;">
      <h2>メモ編集  <input type="button" onclick="toggle_memo_btn()" value="編集中断" style= "margin: 20px;" class="btn btn-primary"></h2>
      <%= form_with url: "./update" do |form|%>
        <%= form.submit value: '保存', class: 'btn btn-outline-success' %><br>
        <%= form.text_area :memo , size: "35x60", value: @memo.memo %>
        <%= form.hidden_field :place_id, value: @memo.place_id %>
        <%= form.hidden_field :user_id, value: @memo.user_id %>
      <% end %>
      </div>
  </div>
</div>



















